html, body {
    height: 100%;
    margin: 0;
  }
  
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
  }

  .test{
    position: relative;
    left: 80px;
  }